<!--
_______________________________________________________________________________

            PAGE D'ACCUEIL DE LA SECTION GESTION DES FICHIERS PHOTOS
_______________________________________________________________________________

Description :
-------------
Cette page du template définira la page d'accueil du gestionnaire de photos.
-->



{% extends 'core/base.html' %}

{% block title %} {{ SITE_NAME }}: Gestion {% endblock %}

<!-- Insertion des boutons : -->
{% block nav_buttons %}
    {% include 'ad_agt/fragments/ad_agt_nav_buttons.html' %}
{% endblock %}


{% block content %}

    <!-- Marge supérieure : -->
    <div class="container" style="height: 130px"></div>

    <div class="container mt-4">
        <!-- Barre d'outils : -->
         <div class="mb-3">
            {% include 'ad_agt/fragments/ad_agt_toolbar.html' %}
        </div>

        <!-- Grille Bootstrap -->
        <div class="row">
            {% for photo in photos %}
                <div class="col-lg-3 col-md-4 col-sm-5 photo-item">

                    {% include 'core/fragments/cards/card_photo.html' %}

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}