<!--
_______________________________________________________________________________

                                FRAGMENT : footbar
_______________________________________________________________________________

Description :
-------------
Ce fragment contient le pied de page de l'application.
-->


<div class="container-fluid p-0 bg-dark">
    <div class="row p-0 m-0 align-item-center text-light" style="font-size: 0.8em">
        <div class="col p-0 justify-content-center">
        <p class="text-center m-0">
            <a  href="#" class="custom-link">A propos</a>
        </p>
        </div>
    </div>
</div>
