<!--
_______________________________________________________________________________

                                FRAGMENT : ad_agt-toolbar
_______________________________________________________________________________

Description :
-------------
Fragment pour la barre d'outils du module de traitement des photos
-->



<div class="container">
    <div class="row col-4 rounded-top-4 bg-dark text-warning pt-1 pb-0">
        <h5>Action & Filtres</h5>
    </div>

    <!-- Barre des outils : -->
    <div class="row border-top border-dark border-4 bg-secondary shadow" style="min-height: 50px;">

        <!-- Recadrage automatique de toutes les photos : -->
        <div class="col-2 m-1">
            <button type="button"
                    class="btn btn-info pt-0 pb-0 ps-2 pe-2 d-flex align-items-center justify-content-center w-100"
                    style="font-size: 1.4em; border-color: #676666;"
                    title="Recadrer toutes les photos automatiquement"
                    aria-label="Recadrer toutes les photos automatiquement"
                    id="crop-button">
                <i class="bi bi-person-bounding-box"></i><span class="ms-2 d-none d-md-block" style="font-size: 0.6em">Rogner</span>
            </button>
        </div>


        <!-- Lecture des QR Codes : -->
        <div class="col-2 m-1">
            <button type="button"
                    class="btn btn-info pt-0 pb-0 ps-2 pe-2 d-flex align-items-center justify-content-center w-100"
                    style="font-size: 1.4em; border-color: #676666;"
                    title="Lire tous les QR Codes des photos"
                    aria-label="Lire tous les QR Codes des photos"
                    id="read-all-qr-codes-button">
                <i class="bi bi-qr-code-scan"></i> <span class="ms-2 me-4 d-none d-md-block" style="font-size: 0.6em;">Lire</span>
            </button>
        </div>

        <!-- Bouton de suppression des liens photos/étudiants : -->
        <div class="col-2 m-1">
            <button type="button"
                    class="btn btn-warning pt-0 pb-0 ps-2 pe-2 d-flex align-items-center justify-content-center w-100"
                    style="font-size: 1.4em; border-color: #676666;"
                    title="Supprimer tous les liens des élèves avec les photos"
                    aria-label="Supprimer tous les liens des élèves avec les photos"
                    id="removeAllStudentsBtn"
                    data-photos="{{ photos }}">
                        <i class="bi bi-person-fill-x"></i> <span class="ms-2 me-4 d-none d-md-block" style="font-size: 0.6em">Tous</span>
            </button>
        </div>

        <!-- Bouton de suppression de toutes les photos & fichiers : -->
        <div class="col-2 m-1">
            <button type="button"
                    class="btn btn-danger pt-0 pb-0 ps-2 pe-2 d-flex align-items-center justify-content-center w-100"
                    style="font-size: 1.4em; border-color: #676666;"
                    title="Supprimer toutes les photos"
                    aria-label="Supprimer toutes les photos"
                    id="deleteAllPhotosBtn"
                    data-photos="{{ photos }}">
                        <i class="bi bi-trash3-fill"></i> <span class="ms-2 me-4 d-none d-md-block" style="font-size: 0.6em">Tous</span>
            </button>
        </div>

    </div>


    <!-- Barre des filtres : -->
    <div class="row bg-secondary shadow" style="min-height: 20px;">

        <!-- Bouton tout afficher : -->
        <div class="col-2 m-1">
            <button type="button"
                    class="btn btn-sm btn-outline-light pt-0 pb-0 ps-2 pe-2 d-flex align-items-center justify-content-center w-100"
                    style="font-size: 1.2em;"
                    title="Afficher uniquement les photos non associées"
                    aria-label="Afficher uniquement les photos non associées"
                    onclick="window.location.href='{{ url('ad_agt:home_handler') }}'">
                        <i class="bi bi-eye-fill"></i>
                        <span class="ms-2 d-none d-md-block" style="font-size: 0.6em">Tout voir</span>
            </button>
        </div>

        <!-- Bouton filtrer les photos non associées : -->
        <div class="col-2 m-1">
            <button type="button"
                    class="btn btn-sm btn-outline-light pt-0 pb-0 ps-2 pe-2 d-flex align-items-center justify-content-center w-100"
                    style="font-size: 1.2em;"
                    title="Afficher uniquement les photos non associées"
                    aria-label="Afficher uniquement les photos non associées"
                    onclick="window.location.href='{{ url('ad_agt:home_handler') }}?filter=unassigned'">
                        <i class="bi bi-person-fill-exclamation"></i>
                        <span class="ms-2 d-none d-md-block" style="font-size: 0.6em">Non associées</span>
            </button>
        </div>

        <!-- Bouton filter les photos non recadrées : -->
        <div class="col-2 m-1">
            <button type="button"
                    class="btn btn-sm btn-outline-light pt-0 pb-0 ps-2 pe-2 d-flex align-items-center justify-content-center w-100"
                    style="font-size: 1.2em;"
                    title="Afficher uniquement les photos non associées"
                    aria-label="Afficher uniquement les photos non associées"
                    onclick="window.location.href='{{ url('ad_agt:home_handler') }}?filter=no-cropped'">
                        <i class="bi bi-person-video3"></i>
                        <span class="ms-2 d-none d-md-block" style="font-size: 0.6em">Non cadrées</span>
            </button>
        </div>

    </div>


    <!-- Barre du paginator : -->
    <div class="row p-2 rounded-bottom-4 bg-dark shadow" style="min-height: 20px">
        <nav class="m-0 " aria-label="Pagination">
            <ul class="pagination justify-content-center m-0">

                <!-- Navigation vers gauche : -->
                {% if photos.has_previous() %}
                    <!-- Retour 1ère page -->
                    <li class="page-item">
                        <a class="page-link text-dark bg-warning border-warning"
                           href="?page=1"
                           title="Atteindre la première page"
                           aria-label="Première page">
                                <i class="bi bi-chevron-double-left" style="font-size: 0.8em;"></i>
                        </a>
                    </li>
                    <!-- Recul d'une page : -->
                    <li class="page-item">
                        <a class="page-link text-dark bg-warning border-warning"
                           href="?page={{ photos.previous_page_number() }}" aria-label="Page précédente"
                           title="Reculer d'une page">
                                <i class="bi bi-chevron-left" style="font-size: 0.8em;"></i>
                        </a>
                    </li>
                {% endif %}

                <!-- Pages numérotées -->
                {% for num in photos.paginator.page_range %}
                    <li class="page-item {% if photos.number == num %}active{% endif %}">
                        <a class="page-link {% if photos.number == num %}bg-warning text-dark fw-bold{% else %} bg-dark text-light{% endif %} text-warning border-warning"
                           href="?page={{ num }}"
                           title="Atteindre la page {{ num }}">
                            {{ num }}

                        </a>
                    </li>
                {% endfor %}

                {% if photos.has_next() %}
                    <!-- Avancer d'une page : -->
                    <li class="page-item">
                        <a class="page-link text-dark bg-warning border-warning"
                           href="?page={{ photos.next_page_number() }}" aria-label="Page suivante"
                           title="Avancer d'une page">
                                <i class="bi bi-chevron-right" style="font-size: 0.8em;"></i>
                        </a>
                    </li>
                    <!-- Atteindre dernière page : -->
                    <li class="page-item">
                        <a class="page-link text-dark bg-warning border-warning"
                           href="?page={{ photos.paginator.num_pages }}"
                           title="Atteindre la dernière page"
                           aria-label="Dernière page">
                                <i class="bi bi-chevron-double-right" style="font-size: 0.8em;"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Barre de progression : -->
    <div class="container mt-2 pt-1 pb-2 text-start bg-light rounded-2 shadow">
        <div class="row ms-1" style="font-size: 1.0em;">
            <p><b>Statut de l'opération :</b> <span id="progress-message"></span><span id="qr-code-progress-message" class="mt-2 text-warning fw-bold"></span></p>
        </div>

        <div class="progress" style="height: 40px;">
            <div id="progress-bar" class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                 role="progressbar" style="width: 0%;">0%</div>
        </div>
    </div>


</div>

<!-- Suppression des toutes les associations photo & élèves : -->
{% with btnId = 'removeAllStudentsBtn',
        headTitle = 'Confirmation',
        descriptionMessage = "Voulez-vous vraiment supprimer tous les liens entre les élèves et les photos ?",
        successMessage = "Suppression effectuée avec succès !",
        errorMessage = "Une erreur est survenue lors de la suppression.",
        fetchUrl = url('ad_agt:remove_all_students')
        %}
    {% include 'core/fragments/modals/modal_confirmation.html' %}
{% endwith %}

<!-- Suppression de toutes les photos : -->
{% with btnId = 'deleteAllPhotosBtn',
        headTitle = 'Confirmation suppression photos',
        descriptionMessage = "Voulez-vous vraiment supprimer toutes les photos ? Cela supprimera également les fichiers uploadés.",
        successMessage = "Suppression effectuée avec succès !",
        errorMessage = "Une erreur est survenue lors de la suppression.",
        fetchUrl = url('ad_agt:delete_all_photos')
        %}
    {% include 'core/fragments/modals/modal_confirmation.html' %}
{% endwith %}



<!-- Ajout du token CSRF : -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<script>
    // Récupérer le token CSRF :
    const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    //const socket = new WebSocket("ws://" + window.location.host + "/ws/progress/");
    const protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
    const host = window.location.host;
    const socket = new WebSocket(`${protocol}${host}/ws/progress/`);

    socket.onopen = function() {
        //console.log("✅ WebSocket connecté !");
    };

    socket.onclose = function() {
        //console.log("❌ WebSocket déconnecté !");
    };

    socket.onerror = function(error) {
        //console.error("❌ Erreur WebSocket :", error);
    };

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);

        // Mise à jour de la barre de progression
        document.getElementById("progress-bar").style.width = data.progress + "%";
        document.getElementById("progress-bar").textContent = data.progress + "%";
        document.getElementById("progress-message").textContent = data.message;

        if (data.progress === 100) {
            //console.log("Progression à 100 %, rechargement de la page...");  // Ajoutez ce log pour déboguer
            document.getElementById("progress-message").textContent = "🎉 Tâche terminée avec succès !";
            document.getElementById("progress-bar").classList.remove("progress-bar-animated");

            setTimeout(() => {
                location.reload();
            }, 2000);
        }
    };

    document.getElementById("crop-button").addEventListener("click", function() {
        this.disabled = true;
        this.innerHTML = '<i class="bi bi-hourglass-split"></i> <span class="ms-2 d-none d-md-block" style="font-size: 0.6em;">Traitement...</span>';

        fetch("{{ url('ad_agt:crop_all_photos') }}", {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`Erreur HTTP ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log("✅ Réponse crop_all_photos :", data);
        })
        .catch(error => {
            console.error("❌ Erreur lors du fetch crop_all_photos :", error);
        });

    });

    document.getElementById("read-all-qr-codes-button").addEventListener("click", function() {
        this.disabled = true;
        this.innerHTML = '<i class="bi bi-hourglass-split"></i> <span class="ms-2 me-4 d-none d-md-block" style="font-size: 0.6em;">Traitement...</span>';

        fetch("{{ url('ad_agt:read_all_qr_codes') }}", {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ channel_name: "progress_updates" })
        });
    });
});
</script>