<!--
_______________________________________________________________________________

                                FRAGEMENT : core-nav-buttons
_______________________________________________________________________________

Description :
-------------
Ce fragment contient les boutons de navigation pour la page d'accueil.
-->


<div class="d-flex me-0">

    <!-- Bouton accès à la saisie des élèves : -->
    <a      href="{{ url('ad_a2p:students_sign_up') }}"
            title="Accéder à la saisie des élèves avant prise photo."
            class="d-flex align-items-center justify-content-center btn btn-dark w-100 p-0 me-1
            {% if request.resolver_match.namespace == 'ad_a2p' and request.resolver_match.url_name == 'students_sign_up' %}
                            active fw-bold text-warning"
                            aria-current="page"
            {% else %}"{% endif %}>
            <i class="bi bi-person-fill-add me-1" style="font-size: 1.5em;"></i>
            <span class="d-none d-md-block" style="font-size: 0.8em;">Saisie</span>
    </a>

    <!-- Bouton accès affichage des QR Codes : -->
    <a      href="{{ url('ad_a2p:qr_code_tab') }}"
            title="Afficher les QR codes pour la prise de photo."
            class="d-flex align-items-center justify-content-center btn btn-dark w-100 p-0 me-1
            {% if request.resolver_match.namespace == 'ad_a2p' and request.resolver_match.url_name == 'students_sign_up' %}
                            active fw-bold text-warning"
                            aria-current="page"
            {% else %}"{% endif %}>
            <i class="bi bi-qr-code me-1"style="font-size: 1.5em;"></i>
            <span class="d-none d-md-block" style="font-size: 0.8em;">QR Code</span>
    </a>

    <!-- Bouton accès traitement des photos : -->
    <a      href="{{ url('ad_agt:upload_photos') }}"
            title="Accéder au traitement des photos."
            class="d-flex align-items-center justify-content-center btn btn-dark w-100 p-0 me-1

            {% if request.resolver_match.namespace == 'ad_agt' and request.resolver_match.url_name == 'upload_photos' %}
                            active fw-bold text-warning"
                            aria-current="page"
            {% else %}"{% endif %}>
            <i class="bi bi-person-fill-gear me-1" style="font-size: 1.5em;"></i>
            <span class="d-none d-md-block" style="font-size: 0.8em;">Traitement</span>
    </a>
</div>


